In [1]:
import pandas as pd
import sqlalchemy as sq
import time

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = sq.create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [32]:
df = pd.read_csv('../data/green_tripdata_2019-09.csv', nrows = 10000)

In [33]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [34]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [35]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

In [36]:
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [37]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [38]:
#Create table
df.head(0).to_sql(name = 'green_taxi_data', con = engine, if_exists = 'replace')

0

In [39]:
print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [40]:
#Create small df
df_s = pd.read_csv('../data/green_tripdata_2019-09.csv', iterator = True, chunksize = 100000, low_memory = False )

In [41]:
#loop to download sql
#t_start = time.time()
#df = pd.read_csv('../data/green_tripdata_2019-09.csv', nrows = 100000) 
#df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
#df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
#df.to_sql(name = 'green_taxi_data', con = engine, if_exists = 'append')
#t_finish = time.time()
#print(f'Another chunk added in time: {t_finish - t_start}')
while True:
    t_start = time.time()
    df = next(df_s)
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
    df.to_sql(name = 'green_taxi_data', con = engine, if_exists = 'append')
    t_finish = time.time()
    print(f'Another chunk added in time: {t_finish - t_start}')

Another chunk added in time: 11.576580286026001
Another chunk added in time: 11.665336608886719
Another chunk added in time: 11.52649211883545
Another chunk added in time: 11.568222761154175
Another chunk added in time: 4.580530643463135

StopIteration:

In [18]:
df2 = pd.read_csv('../data/taxi+_zone_lookup.csv')

In [19]:
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [20]:
#Create table
df2.head(0).to_sql(name = 'zones', con = engine, if_exists = 'replace')

0

In [21]:
df2.to_sql(name = 'zones', con = engine, if_exists = 'append')

265